/* ----    Add your Google Fonts above the rest of your CSS       ----------------------------*/
@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');
@import url('https://fonts.googleapis.com/css?family=Rochester');
@import url('https://fonts.googleapis.com/css?family=Merienda+One');
@import url('https://fonts.googleapis.com/css?family=Crete+Round');


/* ----    Keep your CSS organized with comments       ----------------------------==========================================================

CSS COPIED TO EACH PAGE

================================================================== */

body.container-fluid {
    background: white;
    color: black;
    height: 100%;
    margin:0px;
}


.logo {
    width: 25%;
    margin: 20px auto;
    display: block;
}




.catchy-phrase{color:#25ccbf;
               font-size:35px;
               font-family:'Rochester', cursive;}




ul{list-style-type:none;
    margin:0;
    
}




li a{display:inline-block

}






/* === ==========================================================

CSS FOR LANDING

================================================================== */

.background-pic{
    width: 100%;
    margin: 0 auto;
    display: block;
}









/* === ==========================================================

CSS FOR MENU

================================================================== */


.menu-description, .menu-items{
    font-family: 'Merienda One', cursive;
    list-style: disc;
}



.link-to-somewhere{
    font-family:'Crete Round', serif;
}




/* === ==========================================================

CSS FOR BLOGS

================================================================== */



.lorem-ipsum {
    font-weight:bolder;
    
    font-family: calibri;
}




#the-blogs {
    margin: auto;
    width: 80%;
    background: white;
    text-align: justify;
}




.ind-blogs {
    margin:auto;
    width: 100%;
    background:rgb(237, 221, 199) ;
    text-align: justify;
    margin-bottom: 100px ;
    padding: 20px;
}






.blog-title {
    color: white;
    font-size: 35px;
    font-family:'Rochester', cursive;
    background:#25ccbf;
    text-shadow: 0px 1px 7px black;
}






.blog-content-menu{
    background: white
}






.table{
   background: #cecece;
}




#myBtn{
    position: fixed;
    left:20;
    width: 50px;
    background-color: rgb(237, 221, 199) ;
    padding: 10px;
    color: #25ccbf

}

#myBtn: hover{
    background-color: #0093ff;

}



/* === ==========================================================

CSS FOR ABOUT-US

================================================================== */


.abt-blogs{
    margin:auto;
    width: 100%;
    background: white;
    text-align: justify;
    padding-bottom: 100px;
}




.blog-content{
    background: rgb(237, 221, 199);
}




.info-title {
    color: #25ccbf;
    font-size:35px;
    font-family:'Rochester', cursive;
    background: black;
}





.menu-img{
    float:right;
}





/* === ==========================================================

CSS FOR FOOTER

================================================================== */


form input, form textarea {
    display: inline-block;
    margin: 0px 0px 10px 0px;
}






footer {
    background-color:rgb(237, 221, 199);
    color: black;
    position: relative;
    bottom: 0;
    width:98%;
    padding: 20px;
    margin: 0 auto;
    display: block;
}


.contact-us{
    color: #25ccbf;
    font-family: 'Rochester', cursive;
    font-size: 35px;
}


footer p ,.footer-social{
    display: inline;
    
}

/*-- Keep all your "styling and designs" organized with comments! --*/

